fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
supabase
pydantic
pydantic[email]
requests
beautifulsoup4
groq
torch
torchvision
faiss-cpu
sentence-transformers
transformers
numpy
opencv-python
Pillow
python-multipart
psycopg2-binary>=2.9.9