fastapi
uvicorn
sqlalchemy
python-dotenv
supabase
pydantic
requests
beautifulsoup4
groq
torch
torchvision
faiss-cpu
sentence-transformers
transformers
numpy
opencv-python
Pillow
python-multipart
psycopg2-binary>=2.9.9